<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Distribution</th>
            <th>Kernel</th>
            <th>Updates</th>
        </tr>
    </thead>
    <tbody>
{% for host in groups[ansible_limit] %}
    {% if ( hostvars[host].update_list is not defined) %}
       <tr>
            <td>{{ host }}</td>
            <td> </td>
            <td> </td>
            <td> Unreachable </td>
        </tr>
    
    {% else  %}
           <tr>
            <td>{{hostvars[host].ansible_hostname}}</td>
            <td>{{hostvars[host].ansible_distribution}} {{hostvars[host].ansible_distribution_version}}</td>
            <td>{{ansible_facts['kernel']}}</td>
            <td>{% if ( hostvars[host].update_list is defined ) %}
                    {% for item in hostvars[host].update_list %}
                       - {{ item }} <br>
                    {% endfor %}
                {% endif  %}
            </td>
        </tr>
    {% endif  %}
{% endfor %}
    </tbody>
</table>

</body>
</html>